<% include ../partials/header %>

   
    <div class="container">
        <header class="jumbotron">
            <div class="container">
                <h1>Welcome to YelpCamp!</h1>
               
                <p>Take an adventure to the most amazing places in the world</p>
                <p>
                    <a class= "btn btn-primary btn-lg" href="/campgrounds/new">add new campground</a>
                </p>
               
            </div>
        </header>
        
        
       
            <div class= "row" style= "display: flex; flex-wrap: wrap;">
                <div class="col-md-12">
                    <% if(noMatch !== null){ %>
                        <h3 class="caption text-center"><%=noMatch%></h3>
                    <% } %>
                </div>
                
                <% campgrounds.forEach(function(campground){ %>
                    <div class= "col-md-3 col-sm-6">
                        <div class="thumbnail">
                            <a href="/campgrounds/<%= campground._id %>"><img class="img-thumbnail img-fluid"  src= "<%=campground.image%>"></a>
                            <h5 class="caption text-center"><%= campground.name %></h5>
                        </div>
                    </div>
                 <% }); %>   
            </div>
  </div>  
        
        
   
<% include ../partials/footer %>

